*{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: grid;
    height: 100vh;
    grid-template-columns:73% 27%;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr 1fr 1fr;
    grid-template-areas:
    "header header"
    "main-left-top main-right-top"
    "main-left-midl main-right-top"
    "main-left-midl main-right-bottom"
    "main-left-bottom main-right-bottom"
    "footer footer";
}
header{
    grid-area: header;
    background: #8d8484;
}
.main-left-top {
    grid-area: main-left-top;
    background: #776969
}
.main-left-midl {
    grid-area: main-left-midl;
    background: #643030;
}
.main-left-bottom {
    grid-area: main-left-bottom;
    background: #441818;
}
.main-right-top {
    grid-area: main-right-top;
    background: #937575;
}
.main-right-bottom {
    grid-area: main-right-bottom;
    background: #644c4c;
}
footer{
    grid-area: footer;
    background: #bdbdbd;
}
header, section, aside, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{font-size: 32px}
.color{color: white;}